














* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:   Arial, sans-serif;
    
}


























.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #131313;
    color:#ffffff;
    
}
.logo{
    text-align: center;
    
size: 1Zpx;
}
   

.buton_x:hover {
    opacity: 0.7;
    
}


.topbar img {
    height: 20px;
}

.topbar .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.buton_x {
    
    cursor: pointer;
}

.menu_label {
    font-size: 14px;
    font-weight: bold;
    cursor:pointer;
    
    
    
}
.link_meniu
{
    text-decoration: none;
    color: white;
}

.link_meniu:hover{
    opacity: 0.7;
}

.right-icons .icon {
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}
.icon:hover {
    opacity: 0.7;
}



















.fundal_video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; 
  overflow: hidden;
}





.fundal_video video {
 
  width: 100%;
  height: 100%;
  object-fit: cover; 
}




.continut_motorsport {
  position: absolute;
  bottom: 40px;
  left: 440px;
  color: white;
  max-width: 400px;
}

.rand_titlu_si_buton {
   width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
        margin-bottom: 40px;

}






.titlu_mic {
        font-family:"Oswald";

    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0.85;
    margin-bottom: 10px;
    color:white;

}
.titlu {
    font-family:"Oswald";
    font-size: 50px;
    font-weight: 1000;
    color:rgb(255, 255, 255);
        letter-spacing: 0px;
        
}












.fundal {
    width:100%;
    display: flex;
    align-items: flex-end;
    padding: 60px;
      aspect-ratio: 35 / 19;
      min-height:50%;

}











.continut_motorsport {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rand_titlu_si_buton {
   width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
        margin-bottom: 40px;

}


.titlu_mic {
        font-family:"Oswald";

    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0.85;
    margin-bottom: 10px;
    color:white;

}
.titlu {
    font-family:"Oswald";
    font-size: 70px;
    font-weight: 1000;
    color:rgb(255, 255, 255);
        letter-spacing: 0px;
        
}













    



















.fundal_gri_si_video{
    background-color: #242424; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
    width: 100%; 
    padding: 0px;
}























    .text_championship h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.text_championship p {
  max-width: 540px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.buton_championship {
  display: inline-block;
  padding: 19px 22px;
  background: black;
  color: white;
  text-decoration: none;
  font-size:10px;
  font-weight:900;
  text-transform:uppercase;
  
}

.buton_championship:hover {
  background: #333;
}



.dreptunghi_imagine img {
  width: 100%;
    aspect-ratio: 1 / 1.3;

  height: 100%;
  object-fit: cover;
  padding: 0px 0px 0px 0px;
}





.text_si_imagine_dreapta{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;

  margin: 50px auto;
  max-width: 1600px;
  padding: 30px 0px;
  
}







