

nav {
    background: #000;
    padding: 12px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 35px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #f5f5f7;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.2s;
}

nav a:hover {
    opacity: 1;
}

.logo {
    width: 20px;
    filter: invert(1);
}



.hero {
    text-align: center;
    padding: 120px 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.pro {
    background: #000;
    color: white;
}

.hero-light {
    background: #f5f5f7;
    color: black;
}

.pro h1 {
    font-size: 52px;
    margin-bottom: 10px;
    text-align: center;
}

.pro h2 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
}
.imagine{
     display: flex;
    justify-content: center;
   align-content: center; 
}



