body {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
    background: white;
    color:black;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
} 
img {
    max-width: 100%;
    display: block;
}
.container {
    max-width: 1600px;
    margin: 0 auto;
     padding: 0 60px; 
}
.header {
       justify-content: space-between;
 display:flex;
  position: sticky;
  align-items: center;
top:0;
z-index: 1000; 
}
header {
     background: #181818;
     padding: 20px 0;
}
.menu-button {
    margin-left: 120px;
    background: none;
    border: none;
    color: white;
    font-size: 18px;
     cursor: pointer; 
    font-weight: 400;
}

.logo {
    height: 60px;
}

.butoane-header {
    display: flex;
    gap: 25px;
    margin-right: 100px;
}

.buton-icon {
    cursor: pointer;
}

.icon {
    width: 25px;
    height: 25px;
}
.coperta {
    display: flex;
      align-items: center; 
    justify-content: center; 
    position: relative;
    overflow: hidden;
}

.coperta-img {
     width: 100%;
    height: 700px;       
}

.linkuri {
    position: absolute;
    top: 40px;
    left: 110px;
    padding: 0;
    font-size: 19px;
    font-weight: 700;
    z-index: 10;
}

.linkuri a {
    color: white;
}

.linkuri .bara {
    color: white;
    margin: 0 15px;
}

.linkuri span {
    color:white;
}
.text-coperta{
    position: absolute;
    top: 320px;           
    left: 60px;        
    z-index: 10;
    display: flex;
    flex-direction:column; 

}
.coperta-titlu {
    font-size: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: white;  
    z-index: 10;
     position: relative; 
     margin:0;
}
.coperta-subtitlu{
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    color: white;
    z-index: 10;
     position: relative; 
      margin:0;

}
.poza-muzeu {
    display: block;    
  margin: 30px auto;
  padding: 60px;
  max-width: 85%;
}

.container1, .container2,.container3, .container4{
  display: flex;
  gap: 30px;
  max-width: 1300px;
  margin: 0 auto 80px;
  padding: 0 20px;
}

.image-column {
  flex: 0 0 40%;        
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-cont {
  width: 100%;
  max-width: 420px;   
  height: 320px;      
  object-fit: cover;  
  border-radius: 8px;
  display: block;
  overflow:hidden;

}
.text1 h2 ,.text2 h2 ,.text3 h2, .text4 h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #1a1a1a;
}

.text1 p , .text2 p , .text3 p ,.text4 p {
  margin-bottom: 16px;
  line-height: 1.8;
  color: #1a1a1a;
  font-size: 16px;
 
}
.buton {
  display: inline-block;
  padding: 12px 28px;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
 
  margin-top: 12px;
}

.separare {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    align-items: center;
}

.img-cont {
    width: 100%;
     overflow: hidden;
     height: 550px;
}

 .img-cont img {
    height: 100%;   width: 100%; 
  
    object-fit: cover;

} 
.imagine-masini {
    width:100%;
    height:auto;
     display: block;
}
.sectiune {
    padding:0 100px;
}
.sectiune-contacte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background:rgb(222, 222, 219);
  padding:60px;
  margin:80px 0;
}

.sectiune-contacte h2 {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #1a1a1a;

}

.sectiune-contacte p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
}

.buton-contacte {
  display: flex;
  gap: 15px;
}

.mapa {
  width: 100%;
  height: 100%;
  min-height: 350px;    
  border: 0;
  border-radius: 12px;
  
}

.adresa {
    font-size: 16px;
    margin-bottom: 40px;
    color: #1a1a1a;
    line-height: 1.8;
}

  .buton-contacte .buton {
  padding: 10px 80px;
  min-width: 90px;
  background: black;
  color: white;
  text-decoration: none;
  }

.sectiune-informatii {
    background:white;
    padding: 50px 0;
}

.sectiune-informatii h2 {
    font-size: 45px;
    font-weight:900;
    margin-bottom: 80px;
   
    color: black;
}

.info-coloane {
    column-count: 2;        
    column-gap: 60px;
}

.informatii{
    break-inside: avoid;   
    margin-bottom: 60px;
}
.informatii h3 {
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #1a1a1a;
}

.informatii p {
    color: #1a1a1a;
    line-height: 2;
    font-size: 18px;
} 

.parteneri-section {
    background: white ;
    padding:  0;
    margin-bottom: 120px;
    
}

.parteneri-section h2 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
    letter-spacing: 1px;
    color: #1a1a1a;
}

.parteneri-logo {
    text-align: center;
}

.parteneri-logo img {
    max-width: 350px;
    margin: 0 auto;
}

 footer {
    background: black;
    color: white;
    width: 100%;
    padding: 60px 0 40px;
   
} 

.footerr{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-bottom: 50px; 
     margin-left: 70px;
   
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.footer-column a:hover {
    color: #999;
}

.iconite {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
} 

.iconite a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconite img {
    width: 28px;
    height: 28px;
}
.disclaimer {
    padding: 60px 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-left: 80px;
    margin-right: 80px;
}

.disclaimer p {
    font-size: 15px;
    color:white;
    line-height: 1.6;
}
.copyright {
    padding: 40px 0;
    border-top: 1px solid white;
    margin-left: 80px;
    margin-right: 80px;

}
.copyright p {
    font-size: 15px;
    color: white;
}
.footer-logo {
    align-items: center;
    padding-top: 40px;
}

.footer-logo img {
    height: 50px;
    margin: 0 auto;
}

