body {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
   background: white;
    color: black;
     margin: 0;
    padding: 0;
}
header{
    background: #181818;
     padding: 20px 0;
   
}
.header { 
      justify-content: space-between;
 display:flex;
  position: sticky;
  align-items: center;
top:0;
}
.menu-buton {
    margin-left: 120px;
background:none;
    border: none;
    color: white;
    font-size: 18px;
     cursor: pointer;    }
.header-buton {
    display: flex;
    gap: 25px;       
    margin-right: 100px; }

.logo {
    height: 60px;
}
.image-button img {
    width: 25px;      
    cursor: pointer; }

.header-buton button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.linkuri {
padding: 40px 90px 70px 0;
    font-size: 19px;
    margin-left: 110px;
     font-weight: bold;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.linkuri a{
     text-decoration: none;
     color:black;
}
.bara {
    margin: 0 15px; }

.title-section {
    margin: 40px 0 50px 0;
}

.small-title {
    font-size: 27px;
    padding: 10px 90px 30px 0;
    font-weight: 700;
     letter-spacing: 1px;
     margin-left: 110px;
    margin-bottom: 15px;
   
}
.title-section h1 {
     font-size: 90px;
     font-family: Arial, sans-serif;
    font-weight: 900;
    letter-spacing: -8px;
    margin-left: 110px;
   font-weight: bold;

}

.articol {
    margin-bottom: 60px;
     position:static;
    
}

.articol img {
       display: block; 
    max-width: 1300px; 
    width: 100%; 
    margin: 0 auto;
}

.tag {
    display: inline-block;
  background: #9ca59e;
    color: #fff;
    padding: 6px 12px;
    font-size: 12px;
    margin-right:8px;
     font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.taguri {
    margin-left:110px;
    margin-top:25px;
    margin-bottom: 25px;
}

.data {
    font-size: 12px;
    margin: 10px 0;
    margin-bottom:15px;
    color:rgb(44, 43, 40);
    font-weight: bold;
}

.articol h2 {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
}

.telegram {
    background: #f5f5f5;
        padding: 60px 20px;
    margin-bottom: 80px;
}

.telegram h2 {
    font-size: 60px;
    margin-bottom: 10px;
     margin-left:110px;
    font-weight: bold;
}

.telegram p {
    font-size: 22px;
    font-weight: bold;
     margin-left:110px;
    margin-bottom: 30px;
}

.buton-telegram {
    display: inline-block;
    background: #1b1d1e;
    color: #fff;
    padding: 30px 50px;
     margin-left:110px;
    text-decoration:none;
    font-size: 14px;
    font-weight: bold;
}

.stiri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
     margin-left:110px;
     margin-right: 110px;
}
.stiri p {
    font-size:14px;
}
.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin-bottom: 8px;
}

.card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background: #000;
    color: #fff;
    width: 100%;
    padding: 60px 0 40px;
   
} 

.footerr{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding-bottom: 50px; 
     margin-left: 70px;
   
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-column a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.footer-column a:hover {
    color: #999;
}

.iconite {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    
} 

.iconite a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconite img {
    width: 28px;
    height: 28px;
}
.disclaimer {
    padding: 60px 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-left: 80px;
    margin-right: 80px;
}

.disclaimer p {
    font-size: 15px;
    color:white;
    line-height: 1.6;
}
.copyright {
    padding: 40px 0;
    border-top: 1px solid white;
    margin-left: 80px;
    margin-right: 80px;

}
.copyright p {
    font-size: 15px;
    color: white;
}
.footer-logo {
    text-align: center;
    padding-top: 40px;
}

.footer-logo img {
    height: 50px;
}